{% import "../../setup/html/_macros.html.twig" as _macro %}

{# {% spaceless %} #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Avatar</title>
		
	</head>
	<body>

		{# Main Components #}

		<div id="fullpage" class="fullpage">
			{# 3D #}
			<div id="rendered_avatar" class="rendered_avatar">
			
			</div>
			{# 2D #}
			<div id="layered_avatar" class="layered_avatar">
			
			</div>
		</div>

		{# <div class="controls">
			<input type="checkbox" id="switch_avatar" class="switch_avatar">
			<label for="switch_avatar">Switch to <span class="dim">3</span>D</label>
		</div> #}


		{# Shader #}

		{# Add - on scripts #}
		{% include "../../setup/html/_livereload.html.twig" %}
		
		<script>

	</script>

</body>
</html>
{# {% endspaceless %} #}
