<div class="appinfo desktop-grid">
	<a href="#" class="appinfo__item appinfo__item--appicon">appicon</a>
	<a href="#" class="appinfo__item appinfo__item--downappstore">downappstore</a>
	<a href="#" class="appinfo__item appinfo__item--downggplay">downggplay</a>
	<a href="#" class="appinfo__item appinfo__item--topup">topup</a>
	<span class="appinfo__item appinfo__item--qrcode">qrcode</span>
</div>


{# USING THESE KEYWORDS AS A SUFFIX-CLASSNAME  #}

{# 
    SOCIAL: fanpage | youtube | group | tiktok | instagram | discord

    DOWNLOAD: downappstore | downggplay | downpc | downapk | onelink/download 

    OTHER: appicon | topup | qrcode | code | home | guide | wiki | dieukhoan | support

    SIMULATION: noxplayer | bluestacks | mumuplayer | ldplayer
#}

{# EXAMPLE: appinfo__item appinfo__item--downloadggplay #}