{% import "../../setup/html/_macros.html.twig" as _macro %}

{# {% spaceless %} #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Load GLB + Texture</title>
		
	</head>
	<body>

		{# Main Components #}

		<div id="fullpage" class="fullpage">
			<div id="rendered_threed" class="rendered_threed">
			
			</div>
		</div>


		{# Shader #}

		{# Add - on scripts #}
		{% include "../../setup/html/_livereload.html.twig" %}
		
		<script>

	</script>

</body>
</html>
{# {% endspaceless %} #}
