<div id="homeNews" class="news news--homeNews">

	<div class="news_tab">
		<ul class="tab">
			<li>
				<a href="#" class="tab__item active" data-params="" data-block-name="tin-tuc" data-shorturl="" data-viewall="/tin-tuc/tin-tuc.1.html">Tin tức</a>
			</li>
			<li>
				<a href="#" class="tab__item">Sự kiện</a>
			</li>
			<li>
				<a href="#" class="tab__item">Tính năng</a>
			</li>
			<li>
				<a href="#" class="tab__item">Hướng dẫn</a>
			</li>
			<li>
				<a href="#" class="tab__item">Cộng đồng</a>
			</li>
		</ul>
		<a href="/tin-tuc/tin-tuc.1.html" class="desktop viewall viewAll">Xem thêm</a>
	</div>

	<div class="news_list">
		<ul>


			<li>
				<div class="news_item isHot">
					<a href="" rel="nofollow" class="news_item__title" title="Hoạt động Long Môn Chiến">
						Hoạt động Long Môn Chiến
					</a>
					<div class="news_item__time">
						14-08
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" rel="nofollow" class="news_item__title" title="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
						Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong
					</a>
					<div class="news_item__time">
						30-08
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="#external" rel="nofollow" class="news_item__title" title="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
						Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server
					</a>
					<div class="news_item__time">
						25-05
					</div>
				</div>
			</li>


			<li>
				<div class="news_item isHot">
					<a href="" rel="nofollow" class="news_item__title" title="Hệ thống Môn Khách SSS">
						Hệ thống Môn Khách SSS
					</a>
					<div class="news_item__time">
						28-03
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="#external" rel="nofollow" class="news_item__title" title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
						Nâng tầm công lực với Tuyệt Học Giang Hồ
					</a>
					<div class="news_item__time">
						21-10
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" rel="nofollow" class="news_item__title" title="Hệ thống Môn Khách SSS">
						Hệ thống Môn Khách SSS
					</a>
					<div class="news_item__time">
						29-09
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" rel="nofollow" class="news_item__title" title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
						Nâng tầm công lực với Tuyệt Học Giang Hồ
					</a>
					<div class="news_item__time">
						29-09
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" rel="nofollow" class="news_item__title" title="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
						Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong
					</a>
					<div class="news_item__time">
						30-08
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="#external" rel="nofollow" class="news_item__title" title="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
						Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server
					</a>
					<div class="news_item__time">
						25-05
					</div>
				</div>
			</li>


			<li>
				<div class="news_item isHot">
					<a href="" rel="nofollow" class="news_item__title" title="Hệ thống Môn Khách SSS">
						Hệ thống Môn Khách SSS
					</a>
					<div class="news_item__time">
						28-03
					</div>
				</div>
			</li>
		</ul>
	</div>

	<a href="#" class="mobile-flex news__viewall viewAll">Xem toàn bộ danh sách tin tức</a>


</div>
