<div id="blockHomeChar" class="characters characters--blockHomeChar">

	<div id="groupClassSwiper" class="swiper">
		<div class="swiper-pagination swiper-pagination--groupClassSwiper"></div>
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-swiper-code="kim" data-swiper-name="Kim">
				<div id="kimSwiper" class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-swiper-code="thieulam" data-swiper-name="Thiếu Lâm">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/thieulam-name.png" alt="Thiếu Lâm">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Thân tựa kim cang, lòng tựa bồ đề, phát huy diệu pháp, lấy thủ thay công
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="thieulamForce" id="thieulamForceOut" class="char__force char__force--out" checked>
									<label for="thieulamForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value kim">Kim</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Côn</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, phản đòn</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="thieulamForce" id="thieulamForceIn" class="char__force char__force--in">
									<label for="thieulamForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="thieulamGender" id="thieulamGenderMale" class="char__gender char__gender--male" checked>
									<label for="thieulamGenderMale" style="display: none;">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/thieulam-thumb.png">

								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="thienvuong" data-swiper-name="Thiên Vương">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/thienvuong-name.png" alt="Thiên Vương">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Địch yếu truy đuổi, địch mạnh phòng thủ, am tường cận chiến, công thành đoạt tướng
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="thienvuongForce" id="thienvuongForceOut" class="char__force char__force--out" checked>
									<label for="thienvuongForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value kim">Kim</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Song chuỳ</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, phòng thủ</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="thienvuongForce" id="thienvuongForceIn" class="char__force char__force--in">
									<label for="thienvuongForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="thienvuongGender" id="thienvuongGenderMale" class="char__gender char__gender--male" checked>
									<label for="thienvuongGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/thienvuong-thumb.png">

									<input type="radio" name="thienvuongGender" id="thienvuongGenderFemale" class="char__gender char__gender--female">
									<label for="thienvuongGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/thienvuong-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="tangkiem" data-swiper-name="Tàng Kiếm">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/tangkiem-name.png" alt="Tàng Kiếm">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Chỉ có thể công, khó có thể thủ, lấy thân làm kiếm, sức mạnh vô song
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="tangkiemForce" id="tangkiemForceOut" class="char__force char__force--out" checked>
									<label for="tangkiemForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value kim">Kim</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Song kiếm</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, công cao</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="tangkiemForce" id="tangkiemForceIn" class="char__force char__force--in">
									<label for="tangkiemForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="tangkiemGender" id="tangkiemGenderMale" class="char__gender char__gender--male" checked>
									<label for="tangkiemGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/tangkiem-thumb.png">

									<input type="radio" name="tangkiemGender" id="tangkiemGenderFemale" class="char__gender char__gender--female">
									<label for="tangkiemGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/tangkiem-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="badao" data-swiper-name="Bá Đao">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/badao-name.png" alt="Bá Đao">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Tinh thông cận chiến, đối kháng trực diện, huyết nộ mạnh mẽ, tấn công cuồng bạo
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="badaoForce" id="badaoForceOut" class="char__force char__force--out" checked>
									<label for="badaoForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value kim">Kim</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Đao</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, cuồng bạo</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="badaoForce" id="badaoForceIn" class="char__force char__force--in">
									<label for="badaoForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="badaoGender" id="badaoGenderMale" class="char__gender char__gender--male" checked>
									<label for="badaoGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/badao-thumb.png">

									<input type="radio" name="badaoGender" id="badaoGenderFemale" class="char__gender char__gender--female">
									<label for="badaoGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/badao-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="duongmon" data-swiper-name="Dương Môn">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/duongmon-name.png" alt="Dương Môn">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Dương gia mãnh tướng, tứ hải tung hoành, cung thương tương hỗ, bách chiến sa trường
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="duongmonForce" id="duongmonForceOut" class="char__force char__force--out" checked>
									<label for="duongmonForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value kim">Kim</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Cung / Thương</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cân bằng, cận chiến lẫn tầm xa</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="duongmonForce" id="duongmonForceIn" class="char__force char__force--in">
									<label for="duongmonForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="duongmonGender" id="duongmonGenderMale" class="char__gender char__gender--male" checked>
									<label for="duongmonGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/duongmon-thumb.png">

									<input type="radio" name="duongmonGender" id="duongmonGenderFemale" class="char__gender char__gender--female">
									<label for="duongmonGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/duongmon-thumb2.png">
								</div>

							</div>
						</div>
					</div>
					<div class="swiper-pagination swiper-pagination--classSwiper swiper-pagination--kimSwiper"></div>
				</div>

			</div>
			<div class="swiper-slide" data-swiper-code="moc" data-swiper-name="Mộc">
				<div id="mocSwiper" class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-swiper-code="tieudao" data-swiper-name="Tiêu Dao">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/tieudao-name.png" alt="Tiêu Dao">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Thân tựa cá bơi, chuyển tựa chim bay, bộ pháp linh hoạt, khống chế kẻ địch
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="tieudaoForce" id="tieudaoForceOut" class="char__force char__force--out" checked>
									<label for="tieudaoForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value moc">Mộc</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Thương</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, khống chế</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="tieudaoForce" id="tieudaoForceIn" class="char__force char__force--in">
									<label for="tieudaoForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="tieudaoGender" id="tieudaoGenderMale" class="char__gender char__gender--male" checked>
									<label for="tieudaoGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/tieudao-thumb.png">

									<input type="radio" name="tieudaoGender" id="tieudaoGenderFemale" class="char__gender char__gender--female">
									<label for="tieudaoGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/tieudao-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="dduongmon" data-swiper-name="Đường Môn">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/dduongmon-name.png" alt="Đường Môn">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Am tường ám khí, cạm bẫy ảo diệu, thần tốc tấn công, đoạt mạng kẻ địch
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="dduongmonForce" id="dduongmonForceOut" class="char__force char__force--out" checked>
									<label for="dduongmonForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value moc">Mộc</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Liên nỏ</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, bạo kích</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="dduongmonForce" id="dduongmonForceIn" class="char__force char__force--in">
									<label for="dduongmonForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="dduongmonGender" id="dduongmonGenderMale" class="char__gender char__gender--male" checked>
									<label for="dduongmonGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/dduongmon-thumb.png">

									<input type="radio" name="dduongmonGender" id="dduongmonGenderFemale" class="char__gender char__gender--female">
									<label for="dduongmonGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/dduongmon-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="ngudoc" data-swiper-name="Ngũ Độc">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/ngudoc-name.png" alt="Ngũ Độc">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Nắm giữ kịch độc, triệu hồi linh trùng, tấn công vô hình, lạnh lùng đoạt mạng
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="ngudocForce" id="ngudocForceOut" class="char__force char__force--out" checked>
									<label for="ngudocForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value moc">Mộc</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Sáo</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, triệu hồi, độc công</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="ngudocForce" id="ngudocForceIn" class="char__force char__force--in">
									<label for="ngudocForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">

									<input type="radio" name="ngudocGender" id="ngudocGenderFemale" class="char__gender char__gender--female" checked>
									<label for="ngudocGenderFemale" style="display: none;">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/ngudoc-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="hoason" data-swiper-name="Hoa Sơn">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/hoason-name.png" alt="Hoa Sơn">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Thân pháp linh hoạt, xuất kích thần tốc, kiếm pháp ảo diệu, tự do chiến đấu
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="hoasonForce" id="hoasonForceOut" class="char__force char__force--out" checked>
									<label for="hoasonForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value moc">Mộc</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Kiếm</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, linh động</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="hoasonForce" id="hoasonForceIn" class="char__force char__force--in">
									<label for="hoasonForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="hoasonGender" id="hoasonGenderMale" class="char__gender char__gender--male" checked>
									<label for="hoasonGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/hoason-thumb.png">

									<input type="radio" name="hoasonGender" id="hoasonGenderFemale" class="char__gender char__gender--female">
									<label for="hoasonGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/hoason-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="thanco" data-swiper-name="Thần Cơ">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/thanco-name.png" alt="Thần Cơ">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Bật thầy khôi lỗi, sát thủ tầm xa, cưỡi ưng chiến đấu, biến hoá khôn lường
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="thancoForce" id="thancoForceOut" class="char__force char__force--out" checked>
									<label for="thancoForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value moc">Mộc</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Rối / Phi đao</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, cơ động</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="thancoForce" id="thancoForceIn" class="char__force char__force--in">
									<label for="thancoForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="thancoGender" id="thancoGenderMale" class="char__gender char__gender--male" checked>
									<label for="thancoGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/thanco-thumb.png">

									<input type="radio" name="thancoGender" id="thancoGenderFemale" class="char__gender char__gender--female">
									<label for="thancoGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/thanco-thumb2.png">
								</div>

							</div>
						</div>
					</div>
					<div class="swiper-pagination swiper-pagination--classSwiper swiper-pagination--mocSwiper"></div>
				</div>

			</div>
			<div class="swiper-slide" data-swiper-code="thuy" data-swiper-name="Thủy">
				<div id="thuySwiper" class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-swiper-code="ngami" data-swiper-name="Nga Mi">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/ngami-name.png" alt="Nga Mi">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Phật pháp tại tâm, lòng sáng thanh khiết, cứu độ thế nhân, không ngại nguy khó
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="ngamiForce" id="ngamiForceOut" class="char__force char__force--out" checked>
									<label for="ngamiForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value thuy">Thuỷ</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Kiếm</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, trị liệu</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="ngamiForce" id="ngamiForceIn" class="char__force char__force--in">
									<label for="ngamiForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">

									<input type="radio" name="ngamiGender" id="ngamiGenderFemale" class="char__gender char__gender--female" checked>
									<label for="ngamiGenderFemale" style="display: none;">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/ngami-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="thuyyen" data-swiper-name="Thuý Yên">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/thuyyen-name.png" alt="Thuý Yên">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Mượn sức băng sương, tụ thành mưa tuyết, linh thú trợ chiến, mạnh mẽ tấn công
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="thuyyenForce" id="thuyyenForceOut" class="char__force char__force--out" checked>
									<label for="thuyyenForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value thuy">Thủy</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Dù</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, triệu hồi, sát thương</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="thuyyenForce" id="thuyyenForceIn" class="char__force char__force--in">
									<label for="thuyyenForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">

									<input type="radio" name="thuyyenGender" id="thuyyenGenderFemale" class="char__gender char__gender--female" checked>
									<label for="thuyyenGenderFemale" style="display: none;">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/thuyyen-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="thienson" data-swiper-name="Thiên Sơn">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/thienson-name.png" alt="Thiên Sơn">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Mượn sức thanh âm, kết thành hàn băng, xâm nhập cơ thể, suy yếu kẻ địch
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="thiensonForce" id="thiensonForceOut" class="char__force char__force--out" checked>
									<label for="thiensonForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value thuy">Thuỷ</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Đàn</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, hỗ trợ</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="thiensonForce" id="thiensonForceIn" class="char__force char__force--in">
									<label for="thiensonForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="thiensonGender" id="thiensonGenderMale" class="char__gender char__gender--male" checked>
									<label for="thiensonGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/thienson-thumb.png">

									<input type="radio" name="thiensonGender" id="thiensonGenderFemale" class="char__gender char__gender--female">
									<label for="thiensonGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/thienson-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="doanthi" data-swiper-name="Đoàn Thị">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/doanthi-name.png" alt="Đoàn Thị">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Lục mạch tinh thông, chỉ pháp ảo diệu, khí khái vương giả, phóng khoáng bay bổng
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="doanthiForce" id="doanthiForceOut" class="char__force char__force--out" checked>
									<label for="doanthiForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value thuy">Thủy</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Quạt xếp</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, khống chế</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="doanthiForce" id="doanthiForceIn" class="char__force char__force--in">
									<label for="doanthiForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="doanthiGender" id="doanthiGenderMale" class="char__gender char__gender--male" checked>
									<label for="doanthiGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/doanthi-thumb.png">

									<input type="radio" name="doanthiGender" id="doanthiGenderFemale" class="char__gender char__gender--female">
									<label for="doanthiGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/doanthi-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="huyenthuy" data-swiper-name="Huyền Thuỷ">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/huyenthuy-name.png" alt="Huyền Thuỷ">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Bậc thầy khống chế, siêu hỗ trợ đồng đội. Tấn công và phòng thủ linh hoạt, rất khó chịu
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="huyenthuyForce" id="huyenthuyForceOut" class="char__force char__force--out" checked>
									<label for="huyenthuyForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value thuy">Thủy</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Phiên (cờ lệnh)</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, hỗ trợ, khống chế</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="huyenthuyForce" id="huyenthuyForceIn" class="char__force char__force--in">
									<label for="huyenthuyForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="huyenthuyGender" id="huyenthuyGenderMale" class="char__gender char__gender--male" checked>
									<label for="huyenthuyGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/huyenthuy-thumb.png">

									<input type="radio" name="huyenthuyGender" id="huyenthuyGenderFemale" class="char__gender char__gender--female">
									<label for="huyenthuyGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/huyenthuy-thumb2.png">
								</div>

							</div>
						</div>
					</div>
					<div class="swiper-pagination swiper-pagination--classSwiper swiper-pagination--thuySwiper"></div>
				</div>

			</div>
			<div class="swiper-slide" data-swiper-code="hoa" data-swiper-name="Hỏa">
				<div id="hoaSwiper" class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-swiper-code="daohoa" data-swiper-name="Đào Hoa">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/daohoa-name.png" alt="Đào Hoa">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Không thấy bóng hình, trăm dặm giương cung, nhất tiễn đoạt mạng, quần hùng kinh hãi
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="daohoaForce" id="daohoaForceOut" class="char__force char__force--out" checked>
									<label for="daohoaForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value hoa">Hỏa</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Cung tiễn</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, sát thương cao</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="daohoaForce" id="daohoaForceIn" class="char__force char__force--in">
									<label for="daohoaForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">

									<input type="radio" name="daohoaGender" id="daohoaGenderFemale" class="char__gender char__gender--female" checked>
									<label for="daohoaGenderFemale" style="display: none;">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/daohoa-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="thiennhan" data-swiper-name="Thiên Nhẫn">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/thiennhan-name.png" alt="Thiên Nhẫn">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Tuỳ thời hành động, nhất kích tất sát, mười bước một người, nghìn dặm không vết
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="thiennhanForce" id="thiennhanForceOut" class="char__force char__force--out" checked>
									<label for="thiennhanForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value hoa">Hỏa</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Nguyệt nhẫn</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, bạo kích</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="thiennhanForce" id="thiennhanForceIn" class="char__force char__force--in">
									<label for="thiennhanForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="thiennhanGender" id="thiennhanGenderMale" class="char__gender char__gender--male" checked>
									<label for="thiennhanGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/thiennhan-thumb.png">

									<input type="radio" name="thiennhanGender" id="thiennhanGenderFemale" class="char__gender char__gender--female">
									<label for="thiennhanGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/thiennhan-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="caibang" data-swiper-name="Cái Bang">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/caibang-name.png" alt="Cái Bang">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Thân thủ linh hoạt, né tránh cao cường, khí thế thần long, áp đảo kẻ địch
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="caibangForce" id="caibangForceOut" class="char__force char__force--out" checked>
									<label for="caibangForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value hoa">Hỏa</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Côn</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, bạo kích, né cao</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="caibangForce" id="caibangForceIn" class="char__force char__force--in">
									<label for="caibangForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="caibangGender" id="caibangGenderMale" class="char__gender char__gender--male" checked>
									<label for="caibangGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/caibang-thumb.png">

									<input type="radio" name="caibangGender" id="caibangGenderFemale" class="char__gender char__gender--female">
									<label for="caibangGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/caibang-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="minhgiao" data-swiper-name="Minh Giáo">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/minhgiao-name.png" alt="Minh Giáo">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Minh tôn chỉ dẫn, thân ảnh mơ hồ, hoả thiêu nhục thể, phát huy giáo nghĩa
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="minhgiaoForce" id="minhgiaoForceOut" class="char__force char__force--out" checked>
									<label for="minhgiaoForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value hoa">Hỏa</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Song hoàn</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, đột kích, khống chế</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="minhgiaoForce" id="minhgiaoForceIn" class="char__force char__force--in">
									<label for="minhgiaoForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="minhgiaoGender" id="minhgiaoGenderMale" class="char__gender char__gender--male" checked>
									<label for="minhgiaoGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/minhgiao-thumb.png">

									<input type="radio" name="minhgiaoGender" id="minhgiaoGenderFemale" class="char__gender char__gender--female">
									<label for="minhgiaoGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/minhgiao-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="longtuoc" data-swiper-name="Long Tước">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/longtuoc-name.png" alt="Long Tước">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Đao pháp xuất thần, biến đổi ảo diệu, phân thân chiến đấu, tốc độ kinh người
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="longtuocForce" id="longtuocForceOut" class="char__force char__force--out" checked>
									<label for="longtuocForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value hoa">Hỏa</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Đao</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, phân thân</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="longtuocForce" id="longtuocForceIn" class="char__force char__force--in">
									<label for="longtuocForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="longtuocGender" id="longtuocGenderMale" class="char__gender char__gender--male" checked>
									<label for="longtuocGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/longtuoc-thumb.png">

									<input type="radio" name="longtuocGender" id="longtuocGenderFemale" class="char__gender char__gender--female">
									<label for="longtuocGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/longtuoc-thumb2.png">
								</div>

							</div>
						</div>
					</div>
					<div class="swiper-pagination swiper-pagination--classSwiper swiper-pagination--hoaSwiper"></div>
				</div>

			</div>
			<div class="swiper-slide" data-swiper-code="tho" data-swiper-name="Thổ">
				<div id="thoSwiper" class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-swiper-code="vodang" data-swiper-name="Võ Đang">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/vodang-name.png" alt="Võ Đang">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Âm dương hoà hợp, mượn kiếm sinh công, mượn khí sinh thủ, kiếm khí cân bằng
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="vodangForce" id="vodangForceOut" class="char__force char__force--out" checked>
									<label for="vodangForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value tho">Thổ</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Kiếm</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, cân bằng</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="vodangForce" id="vodangForceIn" class="char__force char__force--in">
									<label for="vodangForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="vodangGender" id="vodangGenderMale" class="char__gender char__gender--male" checked>
									<label for="vodangGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/vodang-thumb.png">

									<input type="radio" name="vodangGender" id="vodangGenderFemale" class="char__gender char__gender--female">
									<label for="vodangGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/vodang-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="conlon" data-swiper-name="Côn Lôn">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/conlon-name.png" alt="Côn Lôn">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Tinh thông ngự lôi, khống chế cuồng phong, phi kiếm ngự thể, áp chế quần hùng
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="conlonForce" id="conlonForceOut" class="char__force char__force--out" checked>
									<label for="conlonForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value tho">Thổ</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Song kiếm</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Cận chiến, né cao</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="conlonForce" id="conlonForceIn" class="char__force char__force--in">
									<label for="conlonForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="conlonGender" id="conlonGenderMale" class="char__gender char__gender--male" checked>
									<label for="conlonGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/conlon-thumb.png">

									<input type="radio" name="conlonGender" id="conlonGenderFemale" class="char__gender char__gender--female">
									<label for="conlonGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/conlon-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="truongca" data-swiper-name="Trường Ca">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/truongca-name.png" alt="Trường Ca">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Thân ảnh uyển chuyển, tựa thực tựa mơ, xuất chiêu thanh thoát, hỗ trợ mạnh mẽ
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="truongcaForce" id="truongcaForceOut" class="char__force char__force--out" checked>
									<label for="truongcaForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value tho">Thổ</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Quạt</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, hỗ trợ</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="truongcaForce" id="truongcaForceIn" class="char__force char__force--in">
									<label for="truongcaForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">

									<input type="radio" name="truongcaGender" id="truongcaGenderFemale" class="char__gender char__gender--female" checked>
									<label for="truongcaGenderFemale" style="display: none;">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/truongca-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="vanhoa" data-swiper-name="Vạn Hoa">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/vanhoa-name.png" alt="Vạn Hoa">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Uông dương tứ tứ, du vân tứ hải, chấp dĩnh điểm mặc, hội hổ sơn lâm
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="vanhoaForce" id="vanhoaForceOut" class="char__force char__force--out" checked>
									<label for="vanhoaForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value tho">Thổ</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Bút</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, triệu hồi, quần thương</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="vanhoaForce" id="vanhoaForceIn" class="char__force char__force--in">
									<label for="vanhoaForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="vanhoaGender" id="vanhoaGenderMale" class="char__gender char__gender--male" checked>
									<label for="vanhoaGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/vanhoa-thumb.png">

									<input type="radio" name="vanhoaGender" id="vanhoaGenderFemale" class="char__gender char__gender--female">
									<label for="vanhoaGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/vanhoa-thumb2.png">
								</div>

							</div>
						</div>
						<div class="swiper-slide" data-swiper-code="xungtieu" data-swiper-name="Xung Tiêu">
							<div class="char">
								<div class="char__name">
									<img class="swiper-lazy" data-src="assets/images/char/xungtieu-name.png" alt="Xung Tiêu">
								</div>
								<div class="char__content">
									<div class="char__paragraph active">
										Hoả thương đấu phá, địa chấn càn khôn, pháo thủ tầm xa, dũng mãnh thiện chiến
									</div>

									<div class="split desktop">split</div>

									<input type="radio" name="xungtieuForce" id="xungtieuForceOut" class="char__force char__force--out" checked>
									<label for="xungtieuForceOut">Ngoại Công</label>
									<div class="char__paragraph">

										<ul>
											<li>
												<span class="label">Ngũ hành:
												</span>
												<span class="value tho">Thổ</span>
											</li>
											<li>
												<span class="label">Vũ khí:
												</span>
												<span class="value">Pháo súng</span>
											</li>
											<li>
												<span class="label">Đặc điểm:
												</span>
												<span class="value">Tầm xa, bạo kích</span>
											</li>
											<li>
												<span class="label">Độ khó:
												</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star active">star</span>
												<span class="star">star</span>
											</li>
										</ul>
										<a href="#ngoaicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

									<input type="radio" name="xungtieuForce" id="xungtieuForceIn" class="char__force char__force--in">
									<label for="xungtieuForceIn">Nội Công</label>
									<div class="char__paragraph">

										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, nibh placerat dictum eleifend, ligula sem mollis tellus, vitae condimentum diam metus et ligula.
										</p>
										<p>Sed vitae quam et mi suscipit consequat. Maecenas ut dui egestas, pellentesque purus vitae, elementum orci. Suspendisse maximus ligula tempus imperdiet pulvinar.</p>
										<a href="#noicong" data-fancybox class="trailer">XEM VIDEO</a>

									</div>

								</div>
								<div class="char__thumbnail">
									<input type="radio" name="xungtieuGender" id="xungtieuGenderMale" class="char__gender char__gender--male" checked>
									<label for="xungtieuGenderMale">gender-male</label>
									<img class="swiper-lazy" data-src="assets/images/char/xungtieu-thumb.png">

									<input type="radio" name="xungtieuGender" id="xungtieuGenderFemale" class="char__gender char__gender--female">
									<label for="xungtieuGenderFemale">gender-female</label>
									<img class="swiper-lazy" data-src="assets/images/char/xungtieu-thumb2.png">
								</div>

							</div>
						</div>
					</div>
					<div class="swiper-pagination swiper-pagination--classSwiper swiper-pagination--thoSwiper"></div>
				</div>

			</div>
		</div>
	</div>

</div>
