<div id="floatright" class="floatright scaleDesktop desktop" data-desktop-origin="top right">

	<ul class="floatright__main ">
		<li>
			<a href="#" class="floatright__item floatright__item--topup">topup</a>
		</li>

		<li style="">
			<a href="#" class="floatright__item floatright__item--downappstore">ios</a>
		</li>
		<li>
			<a href="#" class="floatright__item floatright__item--downggplay">android</a>
		</li>
		<li>
			<a href="#" class="floatright__item floatright__item--downpc">pc</a>
		</li>
		<li>
			<a href="#" class="floatright__item floatright__item--downapk">apk</a>
		</li>
		<li>
			<a href="#" class="floatright__item floatright__item--code">code</a>
		</li>
		<li>
			<a href="#" class="floatright__item floatright__item--home">home</a>
			<a href="#" class="floatright__item floatright__item--fanpage">fanpage</a>
			<a href="#" class="floatright__item floatright__item--youtube">youtube</a>
		</li>
		<li>
			<a href="#" class="floatright__item floatright__item--top">top</a>
		</li>
		<li style="">
			<span id="asideRightToggle" class="floatrightToggle floatright__item floatright__item--toggle">close</span>
		</li>
	</ul>

</div>
 