<section id="homeHeader" class="section section--homeHeader homeHeader scrollFrame">
	<div class="section__background">
		<img data-src="assets/images/bg/bg-header.jpg" class="desktop lazyload" alt="">
		<img data-src="assets/images/bg/mb-bg-header.jpg" class="mobile lazyload" alt="">
		<span id="homeHeader-scrollwatch-pin" class="scrollwatch-pin"></span>
		<div class="overlay"></div>
	</div>
	<div class="section__content">
		<div class="inner inner--homeHeader">
			<span class="rating">rating</span>
			<span class="scroll animate__animated animate__fadeInDown animate__infinite">scroll</span>
			{% include "../component/appinfo/default.html.twig" %}
			<a href="#" class="logo">logo</a>
			<a href="https://www.youtube.com/watch?v=_1tZ6E0YxQU" data-fancybox class="trailer">trailer</a>
		</div>
	</div>
</section>
