<div id="subContent" class="section section--subContent subContent">

    <div class="section__background">	
    </div>

    <div class="section__content">

        <div class="inner inner--subContent ">

            <div class="midbar">
                <div class="midbar__title">
                    TIN TỨC
                </div>
            </div>
            
            <div class="sub-container container">
                <div class="sub-container__top"></div>
                <div class="sub-container__loop">
                
                {% include "../component/sub-content/default.html.twig" %}
                
                </div>
                <div class="sub-container__bottom"></div>
            </div>
        
        </div>

    </div>

</div>
