<div id="subNews" class="section section--subNews subNews autoHeight">

    <div class="section__background">	
    </div>

    <div class="section__content">

        <div class="inner inner--subNews ">

            <div class="midbar">
                <div class="midbar__title">
                    Tin tức
                </div>
            </div>

            <div class="container">
                {% include "../component/sub-news/default.html.twig" %}
            </div>
        
        </div>

    </div>

</div>
