<div id="blockSubNews" class="news news--blockSubNews">

	<div class="news_tab">
		<ul class="tab">
			<li>
				<a href="#" class="tab__item active" data-params="" data-block-name="" data-shorturl="" data-viewall="">Tin tức</a>
			</li>
			<li>
				<a href="#" class="tab__item">Sự kiện</a>
			</li>
			<li>
				<a href="#" class="tab__item">Tính năng</a>
			</li>
			<li>
				<a href="#" class="tab__item">Hướng dẫn</a>
			</li>
		</ul>
	</div>

	<div class="news_list">
		<ul>


			<li>
				<div class="news_item isHot">
					<a href="" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-3.jpg" alt="Hoạt động Long Môn Chiến">
					</a>
					<a href="" rel="nofollow" class="news_item__title" title="Hoạt động Long Môn Chiến">
						Hoạt động Long Môn Chiến
					</a>
					<div class="news_item__shortcontent">
						Cái bẫy ở chỗ em là người code từng dòng của sản phẩm đó, dĩ nhiên em sử dụng được tốt. Nhưng nếu cho 1 user ở bên ngoài vào thử, 
						                                ...
					</div>
					<div class="news_item__time">
						14-08
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-4.jpg" alt="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
					</a>
					<a href="" rel="nofollow" class="news_item__title" title="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
						Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong
					</a>
					<div class="news_item__shortcontent">
						Một ví dụ rất hay xảy ra là khi các bạn UI UX Designer làm xong phần design, đưa cho coder thì bạn coder hay comment là design như
						                                ...
					</div>
					<div class="news_item__time">
						30-08
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="#external" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-1.jpg" alt="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
					</a>
					<a href="#external" rel="nofollow" class="news_item__title" title="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
						Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server
					</a>
					<div class="news_item__shortcontent">
						Các bạn lập trình viên trẻ hoặc quen làm bên outsource thường rơi vào cái bẫy là code sao cho nó chạy được thôi. Bạn coder sử dụng
						                                ...
					</div>
					<div class="news_item__time">
						25-05
					</div>
				</div>
			</li>


			<li>
				<div class="news_item isHot">
					<a href="" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-2.jpg" alt="Hệ thống Môn Khách SSS">
					</a>
					<a href="" rel="nofollow" class="news_item__title" title="Hệ thống Môn Khách SSS">
						Hệ thống Môn Khách SSS
					</a>
					<div class="news_item__shortcontent">
						Coder phải hiểu và làm chủ sản phẩm thì cái anh ta code ra mới chất lượng được. Điều này là rất quan trọng cho mọi developer muốn 
						                                ...
					</div>
					<div class="news_item__time">
						28-03
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="#external" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-3.jpg" alt="Nâng tầm công lực với Tuyệt Học Giang Hồ">
					</a>
					<a href="#external" rel="nofollow" class="news_item__title" title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
						Nâng tầm công lực với Tuyệt Học Giang Hồ
					</a>
					<div class="news_item__shortcontent">
						Yếu tốt quan trọng nhất của 2 người đầu tiên này là commitment (sự cam kết) : họ bắt buộc phải sẵn sàng đi với team đến cuối cùng.
						                                ...
					</div>
					<div class="news_item__time">
						21-10
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-4.jpg" alt="Hệ thống Môn Khách SSS">
					</a>
					<a href="" rel="nofollow" class="news_item__title" title="Hệ thống Môn Khách SSS">
						Hệ thống Môn Khách SSS
					</a>
					<div class="news_item__shortcontent">
						Tham gia vào các dự án open source: vừa luyện cho mình, vừa đóng góp cho cộng đồng. Khi đi phỏng vấn, nếu em đưa ra được những dự 
						                                ...
					</div>
					<div class="news_item__time">
						29-09
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-5.jpg" alt="Nâng tầm công lực với Tuyệt Học Giang Hồ">
					</a>
					<a href="" rel="nofollow" class="news_item__title" title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
						Nâng tầm công lực với Tuyệt Học Giang Hồ
					</a>
					<div class="news_item__shortcontent">
						Anh cũng hay code chơi chơi lắm. Ví dụ có lần rảnh rảnh, anh code 1 cái app “Săn vé.” Tự code tự design bằng cách cóp nhặt ở khắp 
						                                ...
					</div>
					<div class="news_item__time">
						29-09
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-6.jpg" alt="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
					</a>
					<a href="" rel="nofollow" class="news_item__title" title="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
						Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong
					</a>
					<div class="news_item__shortcontent">
						Đâu có ai sinh con ra là xong đâu? Bạn phải chăm chút từ lúc mang thai cho nó khỏe mạnh. Nó ra đời vẫn phải chăm sóc để nó nhìn sạ
						                                ...
					</div>
					<div class="news_item__time">
						30-08
					</div>
				</div>
			</li>


			<li>
				<div class="news_item ">
					<a href="#external" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-3.jpg" alt="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
					</a>
					<a href="#external" rel="nofollow" class="news_item__title" title="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
						Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server
					</a>
					<div class="news_item__shortcontent">
						Nó sẽ giúp bạn suy nghĩ theo hướng làm thế nào để user dễ sử dụng nhất, từ đó làm chủ sản phẩm.
					</div>
					<div class="news_item__time">
						25-05
					</div>
				</div>
			</li>


			<li>
				<div class="news_item isHot">
					<a href="" class="news_item__thumbnail">
						<img class="lazyload" data-src="assets/images/data/data-4.jpg" alt="Hệ thống Môn Khách SSS">
					</a>
					<a href="" rel="nofollow" class="news_item__title" title="Hệ thống Môn Khách SSS">
						Hệ thống Môn Khách SSS
					</a>
					<div class="news_item__shortcontent">
						Tuy nhiên, không phải cứ dễ code hơn là hay hơn. Vì bạn coder không hiểu về UI/UX nên không hiểu vì sao design nó cần như thế, gây
						                                ...
					</div>
					<div class="news_item__time">
						28-03
					</div>
				</div>
			</li>
		</ul>
	</div>
	<input type="hidden" id='itemTotal' value="130">
	<input type="hidden" id='itemPerPage' value="10">
	<input type="hidden" id='currentSection' value="tin-tuc">
	<input type="hidden" id='shortUri' value="/tin-tuc2">

	<div class="news_pagination">
		<ul class="pagination">
			<li>
				<a href="#" class="page-link active">1</a>
			</li>
			<li>
				<a href="#" class="page-link ">2</a>
			</li>
			<li>
				<a href="#" class="page-link ">3</a>
			</li>
			<li>
				<a href="#" class="page-link ">4</a>
			</li>
			<li>
				<a href="#" class="page-link ">5</a>
			</li>
			<li>
				<a href="#" class="page-link ">6</a>
			</li>
		</ul>
	</div>

</div>
