<div class="search">
    <form class="search__form" id="search__form" method="get" action="/tim-kiem.html">
        <div class="search__control search__control--inline">
            <input class="search__field" type="text" name="q" placeholder="Tìm kiếm thông tin">
            <button class="search__button icon-search" type="submit"></button>
        </div>
    </form>
 </div>