<div id="blockHomeFeature" class="feature feature--blockHomeFeature">
	<div id="blockHomeFeatureSwiper" class="swiper feature_list">
		<ul class="swiper-wrapper">
			<li class="swiper-slide feature_slide">
				<div class="feature_item">
					<a href="#link" class="feature_item__thumbnail" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
						<img class="swiper-lazy" data-src="assets/images/data/data-1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
					</a>
				</div>
			</li>
			<li class="swiper-slide feature_slide">
				<div class="feature_item">
					<div class="feature_item__thumbnail">
						<img class="swiper-lazy" data-src="assets/images/data/data-2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
					</div>
				</div>
			</li>
			<li class="swiper-slide feature_slide">
				<div class="feature_item">
					<a href="#link" class="feature_item__thumbnail" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
						<img class="swiper-lazy" data-src="assets/images/data/data-3.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
					</a>
				</div>
			</li>
			<li class="swiper-slide feature_slide">
				<div class="feature_item">
					<div class="feature_item__thumbnail">
						<img class="swiper-lazy" data-src="assets/images/data/data-4.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
					</div>
				</div>
			</li>
			<li class="swiper-slide feature_slide">
				<div class="feature_item">
					<a href="#link" class="feature_item__thumbnail" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
						<img class="swiper-lazy" data-src="assets/images/data/data-5.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
					</a>
				</div>
			</li>
			<li class="swiper-slide feature_slide">
				<div class="feature_item">
					<div class="feature_item__thumbnail">
						<img class="swiper-lazy" data-src="assets/images/data/data-6.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
					</div>
				</div>
			</li>
		</ul>
		<div class="swiper-button-prev swiper-button-prev--blockHomeFeatureSwiper"></div>
		<div class="swiper-button-next swiper-button-next--blockHomeFeatureSwiper"></div>
	</div>
</div>
