
<div id="subGallery" class="gallery gallery--subGallery">

    <div class="gallery_tab">
        <ul class="tab">
            <li>
                <a  href="#"
                    class="tab__item active"
                    data-type="html"
                    data-params="?cate=image"
                    data-block-name="home-gallery"
                    data-shorturl="/thu-vien-ajax"
                    data-viewall="/thu-vien/danh-sach.1.html?cate=image"
                >Hình ảnh</a>
            </li>
            <li><a href="#" class="tab__item">Video</a></li> 
        </ul>
    </div>

    <div class="gallery_list">
                    <ul>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item isHot">
                            <a href="assets/images/data/data-1.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Hoạt động Long Môn Chiến">
                                <img class="lazyload" data-src="assets/images/data/data-1.jpg" alt="Hoạt động Long Môn Chiến">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-2.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
                                <img class="lazyload" data-src="assets/images/data/data-2.jpg" alt="Giới thiệu tính năng Quyết Chiến Lăng Tuyệt Phong">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-3.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
                                <img class="lazyload" data-src="assets/images/data/data-3.jpg" alt="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item isHot">
                            <a href="assets/images/data/data-4.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Hệ thống Môn Khách SSS">
                                <img class="lazyload" data-src="assets/images/data/data-4.jpg" alt="Hệ thống Môn Khách SSS">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-5.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                                <img class="lazyload" data-src="assets/images/data/data-5.jpg" alt="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-6.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Hệ thống Môn Khách SSS">
                                <img class="lazyload" data-src="assets/images/data/data-6.jpg" alt="Hệ thống Môn Khách SSS">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-1.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                                <img class="lazyload" data-src="assets/images/data/data-1.jpg" alt="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-2.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                                <img class="lazyload" data-src="assets/images/data/data-2.jpg" alt="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-3.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                                <img class="lazyload" data-src="assets/images/data/data-3.jpg" alt="Nâng tầm công lực với Tuyệt Học Giang Hồ">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item isHot">
                            <a href="assets/images/data/data-4.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Hệ thống Môn Khách SSS">
                                <img class="lazyload" data-src="assets/images/data/data-4.jpg" alt="Hệ thống Môn Khách SSS">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item ">
                            <a href="assets/images/data/data-5.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
                                <img class="lazyload" data-src="assets/images/data/data-5.jpg" alt="Thoải chí xưng hùng cùng Lãnh Thổ Chiến Liên Server">
                            </a>
                        </div>
                    </li>
                
                                                                                                                        
                    <li>
                        <div class="gallery_item isHot">
                            <a href="assets/images/data/data-6.jpg"  rel=nofollow data-fancybox class="gallery_item__thumbnail" 
                            title="Hệ thống Môn Khách SSS">
                                <img class="lazyload" data-src="assets/images/data/data-6.jpg" alt="Hệ thống Môn Khách SSS">
                            </a>
                        </div>
                    </li>
                            </ul>
            </div>
    <input type="hidden" id='itemTotal' value="130">
    <input type="hidden" id='itemPerPage' value="10">    
    <input type="hidden" id='currentSection' value="tin-tuc">
    <input type="hidden" id='shortUri' value="/tin-tuc2">

    <div class="gallery_pagination">
        <ul class="pagination">
            <li>
                <a href="#" class="page-link active">1</a>
            </li>
            <li>
                <a href="#" class="page-link ">2</a>
            </li>
            <li>
                <a href="#" class="page-link ">3</a>
            </li>
            <li>
                <a href="#" class="page-link ">4</a>
            </li>
            <li>
                <a href="#" class="page-link ">5</a>
            </li>
            <li>
                <a href="#" class="page-link ">6</a>
            </li>
        </ul>
    </div>

</div>