.fullpage {
    width: 100vw;
    height: 100vh;
}

.fullpage_preview {

}

.fullpage_control {

}

.rendered_threed {
    width: 100%;
    // padding-bottom: 100%;
    // canvas {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }
}