.fullpage {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.fullpage_preview {

}

.fullpage_control {

}

.rendered_threed {
    width: 100%;
    // padding-bottom: 100%;
    // canvas {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }
}

.possibility {
    display: block;
    position: relative;
    height: 24vh;
    padding: 8px 12px 8px 8px;
    border-radius: 6px;
    overflow-y: auto;
    background: #DDD;
}