<div id="blockHomeRankTab" class="rank rank--blockHomeRank">
    <ul class="rank_tab">
        <li class="">
            <a href="#" class="rank_tab__item active">
                LỰC CHIẾN BANG HỘI
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                LỰC CHIẾN CÁ NHÂN
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                LỰC CHIẾN MÔN PHÁI
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                UY DANH BANG HỘI
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                UY DANH CÁ NHÂN
            </a>
        </li>     
    </ul>
</div>

<div id="blockHomeRank" class="rank rank--blockHomeRank">
    <div class="rank_filter">
        <select name="server" data-loadrank-handle="server">
            <option value="0">Chọn Server</option>
            <option value="0">Thế giới</option>
            <option value="20001"> S1-Thái Sơn</option>
            <option value="20002"> S2-Hoa Sơn</option>
            <option value="20003"> S3-Vu Sơn</option>
        </select>
        <select name="classid" data-loadrank-handle="classid">
            <option value="0">Chọn Môn Phái</option>
            <option value="1">Thiên Vương</option>
            <option value="2">Nga My</option>
            <option value="3">Đào Hoa</option>
            <option value="4">Tiêu Dao</option>
            <option value="5"> Võ Đang</option>
        </select>
    </div>
    <div class="rank_result">
        <ul class="rank_result__head">
            <li>Hạng</li>
            <li>Nhân Vật</li>
            <li>Môn Phái</li>
            <li>Cấp</li>
            <li>Binh Giáp</li>
            
        </ul>
        <ul class="rank_result__body">
                            <li>
                    <span>1</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    
                </li>
                            <li>
                    <span>2</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    
                </li>
                            <li>
                    <span>3</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    
                </li>
                            <li>
                    <span>4</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    
                </li>
                            <li>
                    <span>5</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    
                </li>
                            <li>
                    <span>6</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    
                </li>
                            <li>
                    <span>7</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    
                </li>
                    </ul>
        <div class="rank_result__foot">
            <ul class="pagination">
                <li class="prev disabled"><a href="#">‹</a></li>
                <li class="page group-page-1 active"><a href="#">1</a></li>
                <li class="page group-page-1"><a href="#">2</a></li>
                <li class="page group-page-1"><a href="#">3</a></li>
                <li class="page group-page-1"><a href="#">4</a></li>
                <li class="page group-page-1"><a href="#">5</a></li>
                <li class="page group-page-1"><a href="#">6</a></li>
                <li class="page group-page-1"><a href="#">7</a></li>
                <li class="page group-page-1"><a href="#">8</a></li>
                <li class="page group-page-1"><a href="#">9</a></li>
                <li class="page group-page-1"><a href="#">10</a></li>
                <li class="next"><a href="#" rel="1">›</a></li>
            </ul>
        </div>
    </div>
</div>
