{% import "../../setup/html/_macros.html.twig" as _macro %}

{# {% spaceless %} #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GLB Generators</title>
		
	</head>
	<body>

		{# Main Components #}


		<div class="fullpage bg-dark p-4">
			<div class="row">
				<div class="fullpage_control col-12 col-lg-6 p-2">
					<div class="card border round-4 bg-light p-2 mb-2">
						<h5 class="card-title">Body</h5>
						<div class="btn-group" role="group" aria-label="Body">
							<input type="radio" class="btn-check" name="selectBody" id="body1" value="assets/glb/Body_01.glb" autocomplete="off" checked>
							<label class="btn btn-outline-secondary" for="body1">Body 1</label>

							<input type="radio" class="btn-check" name="selectBody" id="body2" value="assets/glb/Body_02.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="body2">Body 2</label>

							<input type="radio" class="btn-check" name="selectBody" id="body3" value="assets/glb/Body_03.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="body3">Body 3</label>

							<input type="radio" class="btn-check" name="selectBody" id="body4" value="assets/glb/Body_04.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="body4">Body 4</label>
						</div>
						<hr>

						<h5 class="card-title">Head</h5>
						<div class="btn-group" role="group" aria-label="Head">
							<input type="radio" class="btn-check" name="selectHead" id="head1" value="assets/glb/Head_01.glb" autocomplete="off" checked>
							<label class="btn btn-outline-secondary" for="head1">Head 1</label>

							<input type="radio" class="btn-check" name="selectHead" id="head2" value="assets/glb/Head_02.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="head2">Head 2</label>

							<input type="radio" class="btn-check" name="selectHead" id="head3" value="assets/glb/Head_03.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="head3">Head 3</label>

							<input type="radio" class="btn-check" name="selectHead" id="head4" value="assets/glb/Head_04.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="head4">Head 4</label>
						</div>
						<hr>

						<h5 class="card-title">Asset</h5>
						<div class="btn-group" role="group" aria-label="Asset">
							<input type="radio" class="btn-check" name="selectAsset" id="asset1" value="assets/glb/Asset_01.glb" autocomplete="off" checked>
							<label class="btn btn-outline-secondary" for="asset1">Asset 1</label>

							<input type="radio" class="btn-check" name="selectAsset" id="asset2" value="assets/glb/Asset_02.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="asset2">Asset 2</label>

							<input type="radio" class="btn-check" name="selectAsset" id="asset3" value="assets/glb/Asset_03.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="asset3">Asset 3</label>

							<input type="radio" class="btn-check" name="selectAsset" id="asset4" value="assets/glb/Asset_04.glb" autocomplete="off">
							<label class="btn btn-outline-secondary" for="asset4">Asset 4</label>
						</div>
						<hr>
						
						<button type="button" class="btn btn-dark btn-lg" data-bs-toggle="modal" data-bs-target="#metadataModal">Generate Metadata</button>

						<!-- Modal -->
						<div class="modal fade" id="metadataModal" tabindex="-1" aria-labelledby="metadataModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Metadata</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<pre id="metadata" class="metadata">
								
								</pre>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button id="exportMetadataAsJSON" type="button" class="btn btn-primary">Export metadata as JSON</button>
							</div>
							</div>
						</div>
						</div>

					</div>
					<div class="card border round-4 bg-light p-2">
						<h5 class="card-title">Possibility of sets <span id="possibilityTotal" class="badge bg-secondary possibilityTotal">...</span></h5>
						<hr>
						<div id="possibility" class="possibility">
							<div id="possibilityList" class="row gy-2">
								{% for item in 0..2 %}
								<div class="col-3">
									<button 
										type="button" 
										class="btn btn-light w-100 possibilityItem"
										data-objthreed-body="#body1"
										data-objthreed-head="#head1"
										data-objthreed-asset="#asset1"
									>x_x_x</button>
								</div>
								{% endfor %}
							</div>

						</div>

						<hr>
						
						<button id="pickMeARandomSet" type="button" class="btn btn-dark btn-lg pickMeARandomSet">Pick me a random set</button>


					</div>
				</div>
				<div class="fullpage_preview col-12 col-lg-6 p-2">
					<div class="card border round-4 bg-light p-2">
						<div class="row">
							<div class="col-6">
								<h5 class="card-title">
									Preview
								</h5>
							</div>
							<div class="col-6">
								<label for="switchDisplay" id="switch_3d" class="switch_3d d-flex justify-content-end align-items-center">
									<div class="form-check form-switch ">
										<input class="form-check-input" type="checkbox" role="switch" id="switchDisplay" checked="true"> 
									</div>
								</label>
							</div>
						</div>
						<div id="rendered_twod" class="rendered_twod ">
							<img src="assets/2d/T3.png" alt="">
							<img src="assets/2d/FM3.png" alt="">
							<img src="assets/2d/HM3.png" alt="">
							<img src="assets/2d/OM3.png" alt="">
							<img src="assets/2d/A1.png" alt="">
							<img src="assets/2d/EM3.png" alt="">
						</div>
						<div id="rendered_threed" class="rendered_threed active">
						
						</div>
					</div>
				</div>
			</div>
		</div>


		{# Shader #}

		{# Add - on scripts #}
		{% include "../../setup/html/_livereload.html.twig" %}
		
		<script>

	</script>

</body>
</html>
{# {% endspaceless %} #}
