{% set blockName = "name_your_float_block" %}

<div id="{{blockName}}" class="{{blockName}} floatingDesktopTopLeft fullHeightMobileScale">
    {# ... #}
</div>

{# Supportive classes for scaling & scaling origin #}

{#  
    DESKTOP
    floatingDesktopTopLeft | floatingDesktopTopCenter | floatingDesktopTopRight
    floatingDesktopMidLeft | floatingDesktopMidCenter | floatingDesktopMidRight
    floatingDesktopBotLeft | floatingDesktopBotCenter | floatingDesktopBotRight

    MOBILE
    floatingMobileTopLeft | floatingMobileTopCenter | floatingMobileTopRight
    floatingMobileMidLeft | floatingMobileMidCenter | floatingMobileMidRight
    floatingMobileBotLeft | floatingMobileBotCenter | floatingMobileBotRight
 #}