<div id="floattop" class="floattop scaleDesktop scaleMobile" >

        <a href="#" class="floattop__item floattop__item--appicon mobile">appicon</a>
        <a href="#" class="onelink floattop__item floattop__item--download mobile"
                data-appstore="#ios" 
                data-android="#android">download</a>
        <a href="#" class="floattop__item floattop__item--topup mobile">topup</a>
        <a href="#" class="floattop__item floattop__item--home mobile">home</a>
        <a href="#" class="floattop__item floattop__item--fanpage mobile">fanpage</a>

        <span id="navBurger" class="floattop__item floattop__item--burger hamburger hamburger--emphatic mobile">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </span>

        <ul id="floatnav" class="floattop__nav floatnav">
            <li class="mr-auto desktop">
                <a href="#" class="floatnav__appicon">
                    APPICON
                </a>
            </li>
            <li class="">
                <a href="#" class="floatnav__item">
                    TRANG CHỦ
                </a>
            </li>
            <li class="">
                <a href="#" class="floatnav__item">
                    TIN TỨC 
                </a>
            </li>
            <li class="">
                <a href="#" class="floatnav__item">
                    HƯỚNG DẪN
                </a>
            </li>
            <li class="">
                <a href="#" class="floatnav__item">
                    THƯ VIỆN
                </a>
            </li>
            <li class="">
                <a href="#" class="floatnav__item">
                    HỖ TRỢ
                </a>
                <input type="checkbox" class="floatnav__dropdown">
                <ul>
                    <li>
                        <a href="#" class="floatnav__item">
                            Gửi Hỗ Trợ
                        </a>
                    </li>
                    <li>
                        <a href="#" class="floatnav__item">
                            Hướng Dẫn
                        </a>
                    </li>
                    <li>
                        <a href="#" class="floatnav__item">
                            Điều Khoản
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" class="floatnav__item">
                    CỘNG ĐỒNG
                </a>
                <input type="checkbox" class="floatnav__dropdown">
                <ul>
                    <li>
                        <a href="#" class="floatnav__item">
                            FACEBOOK
                        </a>
                    </li>
                    <li>
                        <a href="#" class="floatnav__item">
                            GROUP
                        </a>
                    </li>
                    <li>
                        <a href="#" class="floatnav__item">
                            TIKTOK
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                {% include "../component/search/default-float-top.html.twig" %}
            </li>
        </ul>



</div>