<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry ! This page is not exist</title>
</head>
<body>
    <div class="error_404">
        <div class="error_404__content">
            <img src="assets/images/content/error404.svg" alt="" class="error_404__big">
            <p>Sorry ! This page is not exist</p> 
            <a href="#" class="error_404__homepage">Về trang chủ</a>        
        </div> 
    </div>
</body> 
</html>

