<section id="homeRank" class="section section--homeRank homeRank scrollFrame">
	<div class="section__background">
		<img data-src="assets/images/bg/bg-rank.jpg" class="desktop lazyload" alt="">
		<img data-src="assets/images/bg/mb-bg-rank.jpg" class="mobile lazyload" alt="">
		<span id="homeRank-scrollwatch-pin" class="scrollwatch-pin"></span>
	</div>
	<div class="section__content">
		<div class="inner inner--homeRank ">
			<h2 class="title">
				<span class="title__content">BẢNG XẾP HẠNG</span>
			</h2>
			<div class="container">
				<div class="row">
					<div class="col-12 col-mobile-12">
						{% include "../component/home-rank/default.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
