<section id="homeFeature" class="section section--homeFeature homeFeature">

	<div class="section__background">
		<img data-src="assets/images/bg/bg-feature.jpg" class="desktop lazyload" alt="">
		<img data-src="assets/images/bg/mb-bg-feature.jpg" class="mobile lazyload" alt="">

		<span id="homeFeature-scrollwatch-pin" class="scrollwatch-pin"></span>
	</div>

	<div class="section__content">

		<div class="inner inner--homeFeature">

			<h2 class="title">
				<span class="title__content">TÍNH NĂNG NỔI BẬT</span>
			</h2>


			<div class="container">
				<div class="row">
					<div class="col-12 col-mobile-12">
						{% include "../component/home-feature/default.html.twig" %}
					</div>
				</div>
			</div>

		</div>

	</div>

</section>
