

<div id="subSearchResult" class="section section--subSearchResult subSearchResult">

    <div class="section__background">	
    </div>

    <div class="section__content">

        <div class="inner inner--subSearchResult ">

            <div class="midbar">
                <div class="midbar__title">
                    Kết quả tìm kiến
                </div>
            </div>

            <div class="container">
                {% include "../component/search/default-result.html.twig" %}
            </div>
        
        </div>

    </div>

</div>
