<div id="subSubweb" class="section section--subSubweb subSubweb">

    <div class="section__background">	
    </div>

    <div class="section__content">

        <div class="inner inner--subSubweb">

            <div class="midbar">
                <div class="midbar__title">
                    TÊN SỰ KIỆN
                </div>
                <span id="subwebBurger" class="midbar__burger hamburger hamburger--emphatic mobile ">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
                <div class="midbar__menu ">
                    {% include "../component/sub-menu/default.html.twig" %}
                </div>
            </div>
            
            <div class="sub-container container">
                <div class="sub-container__top"></div>
                <div class="sub-container__loop">
                    
                    <div class="subweb row">
                        <div class="col-9 col-mobile-12">
                            <div class="subweb__content">
                                {% include "../component/sub-content/content-only-compact.html.twig" %}
                            </div>
                        </div>
                        <div class="col-3 col-mobile-12">
                            <div class="subweb__menu">
                                {% include "../component/sub-menu/default.html.twig" %}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="sub-container__bottom"></div>
            </div>
        
        </div>

    </div>

</div>
