

<section id="homeFooter" class="section section--homeFooter homeFooter">
    <div class="section__background">
    </div>
    <div class="section__content">
        <div class="inner inner--homeFooter ">
            <div class="footer">
                <div class="footer__icon">footer__icon</div>
                <p>Công ty Cổ phần VNG</p>
                <p>Địa chỉ trụ sở: Z06, Đường 13, phường Tân Thuận Đông, Quận 7, Thành phố Hồ Chí Minh, Việt Nam.</p>
                <p>Quyết định phê duyệt nội dung kịch bản trò chơi điện tử G1 trên mạng số: xxx/QĐ-BTTTT do Bộ Thông tin và Truyền thông cấp ngày xx/xx/xxxx</p>
                <a href="#">ĐIỀU KHOẢN TRÒ CHƠI </a>
            </div>
        </div>
    </div>
</section>
