<section id="homeChar" class="section section--homeChar homeChar">
	<div class="section__background">
		<img data-src="assets/images/bg/bg-char.jpg" class="desktop lazyload" alt="">
		<span id="homeChar-scrollwatch-pin" class="scrollwatch-pin"></span>
	</div>
	<div class="section__content">
		<div class="inner inner--homeChar">
			<h2 class="title">
				<span class="title__content">HỆ THỐNG MÔN PHÁI</span>
			</h2>
			{% include "../component/home-char/vltkm-nation_char_gender_form.html.twig" %}
		</div>
	</div>
</section>
