<section id="homeInfo" class="section section--homeInfo homeInfo scrollFrame">
	<div class="section__background">
		<img data-src="assets/images/bg/bg-info.jpg" class="desktop lazyload" alt="">
		<img data-src="assets/images/bg/mb-bg-info.jpg" class="mobile lazyload" alt="">
		<span id="homeInfo-scrollwatch-pin" class="scrollwatch-pin"></span>
	</div>
	<div class="section__content">
		<div class="inner inner--homeInfo ">
			<h2 class="title">
				<span class="title__content">TIN TỨC - SỰ KIỆN</span>
			</h2>
			<div class="container">
				<div class="row">
					<div class="col-6 col-mobile-12">
						{% include "../component/home-banner/default.html.twig" %}
					</div>
					<div class="col-6 col-mobile-12">
						{% include "../component/home-news/default.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
