<div id="subWiki" class="section section--subWiki subWiki autoHeight">
    <div class="section__background">	
    </div>
    <div class="section__content">
        <div class="inner inner--subWiki">
            <div class="midbar">
                <div class="midbar__title">
                    WIKI
                </div>
            </div>
            <div class="container">
                {% include "../component/sub-wiki/_custom.html.twig" %}
            </div>
        </div>
    </div>
</div>
